<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加支出</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <script>
        if ('CSS' in window && CSS.supports('color', 'var(--color-var)')) {
            document.write('<link rel="stylesheet" href="../../static/css/style.css">');
        } else {
            document.write('<link rel="stylesheet" href="../../static/css/style-fallback.css">');
        }
    </script>
    <noscript>
        <link rel="stylesheet" href="../../static/css/style-fallback.css">
    </noscript>
</head>
<body>
<header class="main-header js-main-header ">
    <div class="container max-width-lg">
        <div class="main-header__layout">
            <div class="main-header__logo">
                <a href="/">
                    <svg width="130" height="32" viewBox="0 0 130 32"><title>Go to homepage</title>
                        <circle fill="var(--color-primary)" cx="16" cy="16" r="16"/>
                        <rect fill="var(--color-contrast-higher)" x="41" y="11" width="89" height="10"/>
                    </svg>
                </a>
            </div>

            <button class="btn btn--subtle main-header__nav-trigger js-main-header__nav-trigger"
                    aria-label="Toggle menu" aria-expanded="false" aria-controls="main-header-nav">
                <i class="main-header__nav-trigger-icon" aria-hidden="true"></i>
                <span>Menu</span>
            </button>

            <nav class="main-header__nav js-main-header__nav" id="main-header-nav"
                 aria-labelledby="main-header-nav-label" role="navigation">
                <div id="main-header-nav-label" class="main-header__nav-label">Main menu</div>
                <ul class="main-header__nav-list">
                    <li class="main-header__nav-item"><a href="/" class="main-header__nav-link">值班表</a></li>
                    <li class="main-header__nav-item"><a href="/stock" class="main-header__nav-link">库存管理</a></li>
                    <li class="main-header__nav-item"><a href="/income" class="main-header__nav-link">收入</a></li>
                    <li class="main-header__nav-item"><a href="/expenditure" class="main-header__nav-link" aria-current="page">支出</a></li>
                    <li class="main-header__nav-item"><a href="/salary" class="main-header__nav-link">薪水</a></li>
                    <li class="main-header__nav-item"><a href="/report" class="main-header__nav-link">报表</a></li>
                    <li class="main-header__nav-item main-header__nav-divider" aria-hidden="true"></li>
                    <li class="main-header__nav-item">
                        <a href="#" class="btn btn--primary" th:text="${nowShift}">无人</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div id="container" class="max-width-sm margin-auto text-center">
    <div id="input" class="padding-lg">
        <div class="margin-bottom-lg">
            <!--            <label class="form-label margin-bottom-xxs" for="inputDonationX">详细信息:</label>-->
            <div class="input-group">
                <div class="input-group__tag">详细信息:</div>
                <input class="form-control flex-grow" type="text" name="inputDonationX" id="info">
                <!--                <div class="input-group__tag">.00</div>-->
            </div>
        </div>
        <div class="margin-bottom-lg">
            <!--            <label class="form-label margin-bottom-xxs" for="inputDonationX">详细信息:</label>-->
            <div class="input-group">
                <div class="input-group__tag">价格:</div>
                <input class="form-control flex-grow" type="number" name="inputDonationX" id="price">
                <div class="input-group__tag">元</div>
            </div>
        </div>
        <div class="margin-bottom-lg">
            <!--            <label class="form-label margin-bottom-xxs" for="inputDonationX">详细信息:</label>-->
            <div class="input-group">
                <div class="input-group__tag">员工ID:</div>
                <input class="form-control flex-grow" type="number" name="inputDonationX" id="employee">
                <!--                <div class="input-group__tag">元</div>-->
            </div>
        </div>
    </div>
    <div id="type-select">
        <button class="btn btn--primary" aria-controls="modal-select">点我选择记账类别并提交</button>

        <div class="modal modal--select js-modal" id="modal-select" role="dialog" aria-labelledby="modal-select-label"
             data-animation="on">
            <div class="full-screen-select">
                <p class="color-contrast-medium margin-bottom-xs" id="modal-select-label">点击就将确认提交,请仔细检查后提交:</p>

                <ul class="full-screen-select__list js-full-screen-select__list" role="listbox">
                        <li th:each="expenditure, expenditureStat : ${expenditureTypes}">
                        <a href="javascript:void(0)"
                           class="full-screen-select__option btn btn--lg"
                           role="option"
                           th:id="${expenditure.getName()}"
                           th:text="${expenditure.getDescription()}"
                           th:onclick="add([[${expenditure.name}]])">Option</a>
                    </li>
                </ul>
            </div>

            <button class="reset modal__close-btn js-modal__close">
                <svg class="icon" viewBox="0 0 16 16"><title>Close modal window</title>
                    <g stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
                       stroke-miterlimit="10">
                        <line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line>
                        <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line>
                    </g>
                </svg>
            </button>
        </div>
    </div>
</div>
<script src="../../static/js/expenditure.js"></script>
<script src="../../static/js/scripts.js"></script>
</body>
</html>
